<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, width=device-width">
  <title>Wizarding World</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Nothing+You+Could+Do&display=swap"
    rel="stylesheet">
  <link href="css/grid.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- use the production vue js -->
  <script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script type="module" src="js/main.js"></script>
</head>

<body>
  <div class="spinner">
    <div class="pos"><span class="loader"></span></div>
  </div>



  <section class="grid-con" id="app">
    <div class="col-span-4 m-col-start-4 m-col-end-12 title">
      <h2>Explore Characters from the Wizarding World</h2>
      <p>Click on a character to discover more about them</p>
    </div>


    <div v-for="character in charactersData" class="col-span-4 m-col-span-4 card character-card" id="character-list">
      <h2><a href="#character-info" @click="getCharacter(character.name)">{{ character.name }}</a></h2>
      <p>{{ character.description }}</p>
    </div>


    <div id="lightbox" v-if="showLightbox">
      <div id="characterInfoCon" class="m-col-span-4">
        <button id="closeButton" @click="closeLightbox">
          <h2>Close</h2>
        </button>
        <div v-if="error">{{ error }}</div>
        <div class="flex grid-con" v-if="!error" id="character-info">


          <div class="col-span-4 m-col-span-6">
            <img :src="characterImage" alt="Character image" v-if="characterImage" class="images">
          </div>
          <div class="col-span-4 m-col-span-6">
            <p><span>{{ characterName }}</span></p>
            <p><span>Species:</span> {{ species }}</p>
            <p><span>Gender:</span> {{ gender }}</p>
            <p><span>House:</span> {{ house }}</p>
            <p><span>Date of Birth</span>: {{ dateOfBirth }}</p>
            <p><span>Year of Birth:</span> {{ yearOfBirth }}</p>
            <p><span>Wizard:</span> {{ wizard }}</p>
            <p><span>Ancestry:</span> {{ ancestry }}</p>
            <p><span>Eye Colour:</span> {{ eyeColour }}</p>
            <p><span>Hair Colour:</span> {{ hairColour }}</p>
            <p><span>Patronus:</span> {{ patronus }}</p>
            <p><span>Hogwarts Student:</span> {{ hogwartsStudent }}</p>
            <p><span>Hogwarts Staff:</span> {{ hogwartsStaff }}</p>
            <p><span>Alive:</span> {{ alive }}</p>
            <p><span>Portrayed by:</span> {{ actor }}</p>
          </div>
        </div>
      </div>
    </div>


  </section>
</body>

</html>